* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  width: 100vw;
  overflow-x: hidden;
}
header {
  padding: 6px 40px 6px 40px;
  background-color: #90ae97;
  background: url('../images/IMG_6837_.jpg');
  background-size: cover;
  background-position: center center;
  gap: 5px;
  justify-content: center;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.headertext {
  font-family: "Rubik Dirt", "Open sans";
  font-size: 2.5rem;
  color: white;
  padding-top: 20px;
}
.headertext-small {
  font-family: "Roboto", "Open Sans";
  color: white;
}
nav {
  background-color: #506053;
  padding: 10px;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav ul i {
  color: #678d6f;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", "Open Sans";
}
nav ul li a:hover {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.project-nav {
  background-color: #e58f9d;
}
.main {
  background-color: #d6e5d9;
}
.content {
  width: 800px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  border: 1px solid red;
}
footer {
  background-color: #90ae97;
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", "Open Sans";
  color: white;
  font-size: 0.8rem;
}
.fa-github {
  color: white;
  font-size: 1.5rem;
  padding-right: 30px;
}
.fa-github:hover {
  color: #2f2f2f;
}
header,
nav,
.main,
footer {
  width: 100vw;
}
h1,
h2 {
  font-family: "Roboto", "Open Sans";
  color: #2f2f2f;
}
.article-h1 {
  border-bottom: 3px double #ccc;
}
.article,
.article-random {
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.article-report {
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 300px;
}
.article-random {
  align-items: center;
  justify-content: center;
  padding: 60px 30px 60px 30px;
}
.article img {
  width: 40%;
  height: auto;
  display: block;
  align-self: center;
  padding: 2px;
}
.me-img {
  border: 1px solid #ccc;
}
.uml {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
}
.article p {
  width: 60%;
  padding: 10px;
}
.article-a {
  text-decoration: none;
  color: #678d6f;
}
.article-a:hover {
  color: #afc7b4;
  border-bottom: 1px solid #afc7b4;
}
.big-a {
  background-color: #d6e5d9;
  color: #2f2f2f;
  text-decoration: none;
  padding: 8px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.big-a:hover {
  color: #879d8b;
  background-color: #bdcfc1;
}
.parks-gif {
  max-width: 400px;
  border: 10px dashed #ff8196;
  padding: 10px;
}
.random {
  background: #f8a9ff;
  padding: 20px;
  transform: rotate(90deg);
  max-width: 300px;
}
.report-tag {
  font-size: 1.2rem;
  color: #2f2f2f;
  font-family: "Roboto", "Open Sans";
  background-color: #e9f1ea;
  padding: 5px;
}
.flash-delete {
  color: #676767;
  background-color: #c9e4da;
  border: 1px solid #bed2cb;
  padding: 5px;
}
.full-deck {
  display: flex;
  width: 100%;
  gap: 10px 10px;
  flex-wrap: wrap;
}
.card-deck {
  width: 15%;
}
.draw-card {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
}
.draw-cards {
  display: flex;
  width: 60%;
  gap: 10px;
  flex-wrap: wrap;
}
.draw-cards img {
  width: 25%;
}
.draw {
  width: 40%;
}
.drawbtn,
.startbtn {
  padding: 5px 10px;
  background-color: #c9e4da;
  border: 1px solid #bed2cb;
}
.drawbtn:hover,
.startbtn {
  background-color: #a8bfb7;
  border: 1px solid #000;
}
form {
  padding: 10px 0;
}
form input {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit],
.input {
  width: 30%;
  background-color: #c9d2ca;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover,
.input:hover {
  background-color: #92a394;
}
.gamebtn {
  background-color: #d6e5d9;
  color: #2f2f2f;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
}
.gamebtn:hover {
  color: #879d8b;
  background-color: #bdcfc1;
}
.gamediv {
  display: flex;
  gap: 15px;
}
.gamedraw {
  display: flex;
  gap: 15px;
  border: 1px solid blue;
}
.article-game {
  padding: 30px 0 50px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  border: 1px solid yellow;
}
.cards img {
  width: 130px;
}
.player,
.bank {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.book-table {
  border: 1px solid #f1f1f1;
}
.book-img {
  width: 70px;
}
th {
  text-align: left;
  background-color: #e9f1ea;
  padding: 5px;
  color: #2f2f2f;
  font-family: "Roboto", "Open Sans";
  font-size: 1.2rem;
}
.img-cell {
  text-align: center;
}
