{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{# Här ska finnas text om mig och en bild på mig. #}


{% block body %}
<h1 class="article-h1">Om mig</h1>
    <div class="article">
        
        <p>Hej och hå<br>
            <br>
            Hanna Arvidsson heter jag och är 30 år gammal. Vardag dagtid hittar man mig som fysioterapeut på ett av våra stora sjukhus i landet. På fritiden så gillar jag att vara ute i naturen antingen promenera eller springa. Jag tycker också det är roligt att läsa, måla och fotografera. Har en katt och en hund och älskar djur generellt. <br>
            <br>
            Jag studerar webbprogrammering på deltid vid sidan av mitt jobb för att jag är nyfiken på att prova flera saker, och än sålänge tycker jag det är jättekul! Den här sidan kommer växa fram under kursens gång och antagligen bli både finare och allt mer innehållsrik i takt med att jag lär mig nya saker. <br>Enjoy!
        </p>
        <img src="{{ asset('img/me.jpg') }}" alt="me" class="me-img">
    </div>
{% endblock %}