{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">Undersidor för kort</h1>

    <div class="article-report">

        <p>
            card/deck - visar samtliga kort i kortleken sorterade per färg och värde. <br>
            card/deck/shuffle - visar samtliga kort i kortleken när den har blandats.<br>
            card/deck/draw - drar ett kort från kortleken och visar upp det. Visa även antalet kort som är kvar i kortleken.<br>
            card/deck/draw/:number - drar :number kort från kortleken och visar upp dem. Visa även antalet kort som är kvar i kortleken.<br>
            session - kolla vad som är sparat i sessionen. <br>
            session/delete - ta bort sessionen <br>
        </p>
        <br>
        <br>
        <p>Om klasserna:<br></p>
        <p>Det finns fyra klasser, <strong>Card</strong>, <strong>CardHand</strong>, <strong>DeckOfCard</strong> och <strong>PrettyDeck</strong>. CardHand och DeckOfCard använder
             sig av komposition och skapas genom flera Card-objekt som läggs i en array. PrettyDeck ärver från DeckOfCard
              och skapar en finare array (utan bilder) att presentera på json-api:erna.
        </p>
        <img src="{{ asset('img/kmom02.drawio.png') }}" alt="uml" class="uml">

<br>
        <br>
    </div>
    <br>
        <br>
{% endblock %}