{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">Session</h1>

    <div class="article-report">
        <div class="session-div">
        <br>
        {{ include('card/flash.html.twig') }}
        <br>
        {% if sessionData is not empty %}
        {% for key, value in sessionData %}
            <p>{{ key }}:</p>
            <pre>{{ dump(value) }}</pre> 
            {% endfor %}
        {% else %}
            <p>Sessionen är tom!</p>
        {% endif %}

        {# {{ dump(sessionData) }} #}


        <br>

        <br>
        <br>
    </div>
    </div>
    <br>
        <br>
{% endblock %}