{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">Välkommen att spela 21</h1>

    <div class="article-report">

        <p>
            Välkommen till kortspelet 21!
        </p>
        <p>
            Såhär går det till:
        </p>
        <p>
            - Du spelar mot banken, målet är att komma så nära 21 poäng som möjligt utan att komma över 21.<br>
            - Du börjar dra ett kort, du kan antingen stanna där eller dra ett till. Om du kommer över 21 så vinner banken.<br>
            - När du väljer att stanna så drar banken ett kort. Banken vet inte vad du har fått för poäng. Banken drar så många kort den vill innan den väljer att stanna. <br>
            - Sedan jämförs poängen. Är poängen samma, så vinner banken. Är du högst, men inte över 21 så vinner du. Är banken högst men inte över 21 så vinner den.<br>
        <br>
        <br>
        Dokumentation för spelet hittar du <a href="{{ path('gameDoc') }}" class="big-a">Här</a>.
        </p>
        <br>
        <a href="{{ path('gameInit') }}" class="big-a">Starta spelet</a>
        <br>
    </div>
    <br>
        <br>
{% endblock %}