{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">21</h1>

    <div class="article-game">

        
            <div class="gamedraw">
                <p>Ditt kort:</p><br>
            <img src="{{ asset('img/deck/'~draw~'.svg') }}" alt="{{draw}}" class="card-draw"><br>
        </div>
        
        <br>
        <div class="gamediv">
            <input type="submit" name="draw" value="Dra ett till" class="gamebtn">
            <input type="submit" name="stop" value="Stanna" class="gamebtn">
        </div>

        <br>
    </div>
    <br>
        <br>
{% endblock %}