{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">21</h1>

    <div class="article-report">

        <p>
            Dra ett kort
        </p>

        <br>
        <input type="submit" name="draw" value="Dra ett till" class="big-a">
        <input type="submit" name="stop" value="Stanna" class="big-a">


        <br>
    </div>
    <br>
        <br>
{% endblock %}