{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{# Här ska finnas text om mig och en bild på mig. #}


{% block body %}
<h1 class="article-h1">Pig game</h1>
    <div class="article-report">
        
        <br>
        <p>This is a classical dice game called "Pig" where you roll a 
        set of dices to try and reach 100 points. You can read more on 
        the <a href="https://en.wikipedia.org/wiki/Pig_(dice_game)"> 
        basics of the game on Wikipedia</a>.</p>
        <br>
        <br>
        <br>
    </div>
{% endblock %}