{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">API-routes</h1>
<br>
        <br>
    <div class="article">
        <br>
        <br>
        <p>Hej och hå<br>
            <br>
            JSON-routes:<br>
            /api: sammanställning av alla json-routes.<br>
            /api/quote: slumpa fram ett citat med datum.
</p>
<br>
        <br>
    </div>
    <br>
        <br>
{% endblock %}