{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="article-h1">Random</h1>
    <div class="article-random">
        <p class="random">Vi behöver alla lite mer parks and recreation i våra liv. Njut av en parks and receration-gif:</p>
        <img src="{{ asset('img/'~number~'.gif') }}" class="parks-gif">

            </div>
{% endblock %}