{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}

<h1 class="article-h1">Lägg till bok</h1>
    <div class="article-report">

        <form method="post">
            <label>Titel</label>
            <input type="text" name="i_titel" required>
            
            <label>ISBN</label>
            <input type="text" name="i_isbn" required>

            <label>Författare</label>
            <input type="text" name="i_forfattare">

            <label>Bildnamn</label>
            <input type="text" name="i_bildnamn">

            <label>Bild</label>
            <input type="text" name="i_bild">
    
            <input type="submit" value="Spara">
    
        </form>



        <a href="{{ path('library_view')}}">Översikt</a>
</div>
{% endblock %}
