{% extends "project/base2.html.twig" %}

{% block title %}Om{% endblock %}


{% block body %}
<h1 class="article-h1">Om projektet
</h1>
    <div class="article-report">
<p>Det här är en sida för projektet i kursen <a href="https://dbwebb.se/kurser/mvc-v2">Objektorienterade teknologier, mvc.</a></p>

<p>Projektet är slutuppgiften för kursen där syftet är att vi ska knyta ihop säcken och använda det mesta som vi lärt oss 
    under kursens gång. Man kan välja lite hur projektet ska se ut, men det finns ett antal krav som ska uppfyllas. Beroende på 
    vilket betyg man siktar på så försöker man uppfylla fler och/eller svårare krav.</p>

<p>Jag har valt att skapa spelet black jack, ett kortspel som liknar spelet 21 som vi gjorde tidigare under kursen men med fler funktioner och regler. <a href="https://dbwebb.se/kurser/mvc-v2/kmom10">Här</a> finns alla krav för projektet.</p>
<p>Klicka på "project" i menyn högst upp för att gå till mitt projekt.</p>


    </div>
{% endblock %}